h1 {
    font-size: 23px;
}

a {
    font-weight: bold;
    font-size: 15px;
}

button {
    font-weight: bold;
    font-size: 15px;
}

label {
    font-weight: bold;
    font-size: 25px;
}

textarea {
    height: 8px;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: white;
    background-color: black;
    font-weight: normal;
    font-size: 50px;
    font-family: fantasy;
}